#nav {
  background-color: #080808;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 5px;
  width: 50px;
  height: 20px;
  border-radius: 2px;
  float: left;
}

#swap {
  font-size: 16px;
  font-weight: bold;
  color: #00b3ee;
  background-color: #080808;
  padding-left: 4px;
  padding-top: 4px;
  margin-top: 5px;
  width: 20px;
  height: 26px;
  border: 0px solid;
  border-radius: 2px;
  float: left;  
  h2 {
    color: #00b3ee;
  }
}

#_wall{
background-color: #000;
}

#wall {
  background-color: #000;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 5px;
  width: 500px;
  height: 350px;
  border-radius: 2px;
  float: left;  
}

#themail {
  padding: 20px 10px;
  background-color: #000;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  h2 {
    color: #00b3ee;
  }
}

input {
    color: #fff;
    font-size: 12px;
    background-color: #0f0f0f;
    border-radius: 5px;
    border: 0px}

  #h2 {    
    input {
      width: 403px;
      color: #00b3ee;
      font-size: 22px;
      font-weight: bold;
      background-color: #0f0f0f;
      border-radius: 5px;
      border: 0px; }
  }

  textarea {
    width: 400px;
    height:200px;
    font-family: verdana;
    color: #ffffff;
    font-size: 15px;
    background-color: #0f0f0f;
    border-radius: 5px;
    border: 0px;
  }


#users {
  background-color: #f00;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  float: left;
}

#header {
  margin: 0;
  color: #fff;
  background-position: 0 0;
  background-color: #000;
  font-size: 20px;
  font-weight: bold;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 8px;
  margin-bottom: 25px;
}

body {
  background-color: #0f0f0f;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
