<div id="themail">
<table>
  <tr>
    <td>2011-06-30</td>
  </tr>
  <tr>
    <td>From: dakuit00t@googlemail.com  To: foo@bar.com</td>
  </tr>
  <tr>
    <td><h2>This is the subject of the message</h2></td>
  </tr>
  <tr></tr>
  <tr>
    <td>Hello, this is my message.</td>
  </tr>
</table>
</div>
